extends ../layout-adm.jade
block title 
    title Home
block content
 content 
   h1 general settings
   form(method='post', action='/general')
      div.form-group
        label(for="inputSiteName") Site name
        input.form-control(type="text" id="inputSiteName" style="width:200px;" placeholder="enter site name here")
      button(type="submit" class="btn btn-default") Save