body{
	background:#D2D460;
	text-align:center;
}

#globalContainer
{
	width:1024px;
	margin:0 auto;
	background:#fff;
	text-align:left;
}

#globalContainer .header
{
	width:100%;
}


#globalContainer .header .headerLeft
{
	width:40%;
	display:inline;
	float:left;
}

#globalContainer .header .headerLeft .headerLogoContainer
{
	width:200px;
	height:100px;
	display:block;
	float:left;
}


#globalContainer .header .headerRight
{
	width:60%;
	display:inline;
}

#globalContainer .header .headerRight > p
{
	float:right;
}


