body{
	background:#D2D460;
	text-align:center;
}

#globalContainer
{
	width:1024px;
	margin:0 auto;
	background:#fff;
	text-align:left;
}

#globalContainer .header
{
	width:100%;
}


#globalContainer .header .headerLeft
{
	
}

#globalContainer .header .headerRight
{

}