extends ../layout.jade
block title 
    title Register

block content
  form.regNewUser(method='post', action='/users')
    include fields
    div
      input(type='submit', value='Register')
      span \ or 
        a(href='/sessions/new') Log In